@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto:wght@100;300;400;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(./dolar-image.jpg);
    background-size: cover;
    display: flex;
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    background-color:rgba(44, 46, 45, 0.763);
    height: 100px;
    max-width: 100%;
    min-width: 35%;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    margin: 5px;
    border-radius: 5px;
    border: none;
    outline: 0;
    padding: 3px;
}

button{
    border-radius: 5px; 
    border: none;
    padding: 3px;
    background-color: #fff;
}

button:hover{
    background-color: #e5e4e4;
    cursor: pointer;
}


